{block content}
<h1 n:block=title>Stránka nenalezena</h1>

<p>Vámi zadaná stránka nebyla nalezena, vraťte se prosím na <a n:href="App\Presenters\HomepagePresenter::ACTION_DEFAULT">homepage</a>.</p>

<p><small>error 404</small></p>
